<!DOCTYPE html>
<html data-ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Line Chart - tc-angular-chartjs</title>
  <!-- HEAD -->
  <link rel="stylesheet" href="../css/prism.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/foundation.min.css">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/app.css">
  <script src="../js/vendor/modernizr.js"></script>
  <!-- END HEAD -->
</head>
<body>

<!-- TOP BAR -->
<div class="contain-to-grid fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="../index.html">tc-angular-chartjs</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">

      <ul class="left">
        <li class="divider"></li>
        <li><a href="../index.html">Quick Start</a></li>
        <li class="divider"></li>
        <li class="active"><a href="">Line</a></li>
        <li class="divider"></li>
        <li><a href="../bar/index.html">Bar</a></li>
        <li class="divider"></li>
        <li><a href="../doughnut/index.html">Doughnut</a></li>
        <li class="divider"></li>
        <li><a href="../pie/index.html">Pie</a></li>
        <li class="divider"></li>
        <li><a href="../polararea/index.html">Polar Area</a></li>
        <li class="divider"></li>
        <li><a href="../radar/index.html">Radar</a></li>
        <li class="divider"></li>
        <li><a href="../legend/index.html">Legends</a></li>
        <li class="divider"></li>
      </ul>
      <ul class="right">
        <li class="divider"></li>
        <li><a href="https://github.com/carlcraig/tc-angular-chartjs" target="_blank"><i class="fa fa-github"></i> Github</a></li>
      </ul>

    </section>
  </nav>
</div>
<!-- END TOP BAR -->

<!-- CONTENT -->
<div class="row" ng-controller="LineCtrl" style="margin-top:20px;">
  <div class="large-12 columns">
    <h1>Line Chart</h1>
    <hr>
  </div>
  <div class="medium-8 columns">
    <canvas tc-chartjs-line chart-options="options" chart-data="data" chart-legend="lineChart1" ></canvas>
  </div>
  <div class="medium-4 columns">
    <div tc-chartjs-legend chart-legend="lineChart1"></div>
  </div>
  <div class="medium-12 columns">
    <button type="button" class="tiny button" ng-click="randomizeData()">Randomize data</button>
    <button type="button" class="tiny button" ng-click="changeDataObject()">Change data object</button>
    <button type="button" class="tiny success button" ng-click="addDataset()">Add dataset</button>
    <button type="button" class="tiny alert button" ng-click="removeDataset()">Remove dataset</button>
    <button type="button" class="tiny success button" ng-click="addData()">Add data</button>
    <button type="button" class="tiny alert button" ng-click="removeData()">Remove data</button>

  </div>
  <div class="medium-12 columns" style="">
    <hr>
    <h3>HTML Code</h3>
    <p>
<pre class="language-markup"><code class="language-markup">&lt;div ng-app=&quot;myModule&quot;&gt;
  &lt;div ng-controller=&quot;myController&quot;&gt;

    &lt;canvas tc-chartjs-line chart-options=&quot;options&quot; chart-data=&quot;data&quot; auto-legend&gt;&lt;/canvas&gt;

  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
    </p>
    <h3>JS Code</h3>
    <p>
<pre class="language-javascript"><code class="language-javascript">angular
  .module( 'app.line', ['app.randoms'] )
  .controller( 'LineCtrl', function ( $scope, Randoms ) {
    var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

    $scope.data = {
      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
      datasets: [
        {
          label: 'My First dataset',
          backgroundColor: 'rgba(220,220,220,0.2)',
          borderColor: 'rgba(220,220,220,1)',
          pointBackgroundColor: 'rgba(220,220,220,1)',
          pointBorderColor: '#fff',
          pointHoverBackgroundColor: '#fff',
          pointHoverBorderColor: 'rgba(220,220,220,1)',
          data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
          label: 'My Second dataset',
          backgroundColor: 'rgba(151,187,205,0.2)',
          borderColor: 'rgba(151,187,205,1)',
          pointBackgroundColor: 'rgba(151,187,205,1)',
          pointBorderColor: '#fff',
          pointHoverBackgroundColor: '#fff',
          pointHoverBorderColor: 'rgba(151,187,205,1)',
          data: [28, 48, 40, 19, 86, 27, 90]
        }
      ]
    };

    $scope.options =  {

      elements: {
        point: {
          radius: 5
        }
      },

      legend: {
        display: false
      },

      legendCallback: function(chart) {
        var text = [];
        text.push('<ul class="tc-chart-js-legend">');
        for (var i = 0; i < chart.data.datasets.length; i++) {
          text.push('<li><span style="background-color:' + chart.data.datasets[i].borderColor + '"></span>');
          if (chart.data.datasets[i].label) {
            text.push(chart.data.datasets[i].label);
          }
          text.push('</li>');
        }
        text.push('</ul>');

        return text.join("");
      },

      // Need to override these to give a nice default
      tooltips: {
        callbacks: {
          label: function(tooltipItem, data) {
            var result = [];
            var datasetIndex;
            for (datasetIndex = 0; datasetIndex < data.datasets.length; datasetIndex++) {
              result.push(data.datasets[datasetIndex].label + ': ' + data.datasets[datasetIndex].data[tooltipItem.index]);
            }
            return result;
          }
        }
      }
    };

    $scope.randomizeData = function() {
        $.each($scope.data.datasets, function(i, dataset) {
            dataset.data = dataset.data.map(function() {
                return Randoms.scalingFactor();
            });
        });
    };

    $scope.changeDataObject = function() {
        $scope.data = {
            labels: ["July", "August", "September", "October", "November", "December"],
            datasets: [{
                label: "My First dataset",
                data: [Randoms.scalingFactor(), Randoms.scalingFactor(), Randoms.scalingFactor(), Randoms.scalingFactor(), Randoms.scalingFactor(), Randoms.scalingFactor()],
                fill: false
            }, {
                label: "My Second dataset",
                data: [Randoms.scalingFactor(), Randoms.scalingFactor(), Randoms.scalingFactor(), Randoms.scalingFactor(), Randoms.scalingFactor(), Randoms.scalingFactor()],
                fill: false
            }]
        };
        $.each($scope.data.datasets, function(i, dataset) {
            dataset.borderColor = Randoms.randomColor(0.4);
            dataset.backgroundColor = Randoms.randomColor(0.5);
            dataset.pointBorderColor = Randoms.randomColor(0.7);
            dataset.pointBackgroundColor = Randoms.randomColor(0.5);
            dataset.pointBorderWidth = 1;
        });
    };

    $scope.addDataset = function() {
        var newDataset = {
            label: 'Dataset ' + $scope.data.datasets.length,
            borderColor: Randoms.randomColor(0.4),
            backgroundColor: Randoms.randomColor(0.5),
            pointBorderColor: Randoms.randomColor(0.7),
            pointBackgroundColor: Randoms.randomColor(0.5),
            pointBorderWidth: 1,
            data: [],
        };
        for (var index = 0; index < $scope.data.labels.length; ++index) {
            newDataset.data.push(Randoms.scalingFactor());
        }
        $scope.data.datasets.push(newDataset);
    };

    $scope.removeDataset = function () {
        $scope.data.datasets.splice(0, 1);
    };

    $scope.addData = function() {
        if ($scope.data.datasets.length > 0) {
            var month = MONTHS[$scope.data.labels.length % MONTHS.length];
            $scope.data.labels.push(month);
            $.each($scope.data.datasets, function(i, dataset) {
                dataset.data.push(Randoms.scalingFactor());
            });
        }
    };

    $scope.removeData = function() {
        $scope.data.labels.splice(-1, 1); // remove the label first
        $scope.data.datasets.forEach(function(dataset, datasetIndex) {
            dataset.data.pop();
        });
    }
  });
</code></pre>
    </p>
  </div>
</div>
<!-- END CONTENT -->

<!-- FOOTER -->
<div class="footer">
  <div class="row">
    <div class="medium-6 columns">
      <p class="text-left">Copyright &copy; 2014 Carl Craig</p>
    </div>
    <div class="medium-6 columns">
      <p class="text-right">
        Dual licensed with the
        <a href="https://github.com/carlcraig/tc-angular-chartjs/blob/master/LICENSE-APACHE-2.0" target="_blank">Apache-2.0</a>
        or
        <a href="https://github.com/carlcraig/tc-angular-chartjs/blob/master/LICENSE-MIT" target="_blank">MIT</a>
        license
      </p>
    </div>
  </div>
</div>
<!-- ENDFOOTER -->

<!-- SCRIPTS -->
<script src="../js/vendor/prism.js"></script>
<script src="../js/vendor/jquery.js"></script>
<script src="../js/vendor/fastclick.js"></script>
<script src="../js/vendor/foundation.min.js"></script>
<script src="../js/vendor/angular.js"></script>
<script src="../js/vendor/Chart.js"></script>
<script src="../../src/tc-angular-chartjs.js"></script>
<script src="../js/app.js"></script>
<script src="../js/line.js"></script>
<script src="../js/bar.js"></script>
<script src="../js/radar.js"></script>
<script src="../js/polararea.js"></script>
<script src="../js/pie.js"></script>
<script src="../js/doughnut.js"></script>
<script src="../js/randoms.js"></script>
<script>
  $(document).foundation();
</script>
<!-- END SCRIPTS -->
</body>
</html>